test/fixtures/flows.json
[{"id":"1dddca959d7756f0","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ec6594f840abc65c","type":"inject","z":"1dddca959d7756f0","name":"email content","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"The subject","payload":"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.","payloadType":"str","x":170,"y":180,"wires":[["fc0b0105d5b1a822"]]},{"id":"cf075446fbf34636","type":"mjml-parse","z":"1dddca959d7756f0","name":"","x":530,"y":180,"wires":[["9f0431585a356dcb"]]},{"id":"9f0431585a356dcb","type":"e-mail","z":"1dddca959d7756f0","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"vergissberlin@gmail.com","dname":"","x":750,"y":180,"wires":[]},{"id":"fc0b0105d5b1a822","type":"template","z":"1dddca959d7756f0","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n\n<mjml>\n  <mj-head>\n    <mj-title>Discount Light</mj-title>\n    <mj-preview>Pre-header Text</mj-preview>\n    <mj-attributes>\n      <mj-all font-family=\"'Helvetica Neue', Helvetica, Arial, sans-serif\"></mj-all>\n      <mj-text font-weight=\"400\" font-size=\"16px\" color=\"#000000\" line-height=\"24px\" font-family=\"'Helvetica Neue', Helvetica, Arial, sans-serif\"></mj-text>\n    </mj-attributes>\n    <mj-style inline=\"inline\">\n      .body-section {\n      -webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);\n      -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);\n      box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);\n      }\n    </mj-style>\n    <mj-style inline=\"inline\">\n      .text-link {\n      color: #5e6ebf\n      }\n    </mj-style>\n    <mj-style inline=\"inline\">\n      .footer-link {\n      color: #888888\n      }\n    </mj-style>\n\n  </mj-head>\n  <mj-body background-color=\"#E7E7E7\" width=\"600px\">\n    <mj-section full-width=\"full-width\" background-color=\"#040B4F\" padding-bottom=\"0\">\n      <mj-column width=\"100%\">\n        <mj-image src=\"https://res.cloudinary.com/dheck1ubc/image/upload/v1544153577/Email/Images/AnnouncementOffset/crofts-white.png\" alt=\"\" align=\"center\" width=\"150px\" />\n        <mj-text color=\"#ffffff\" font-weight=\"bold\" align=\"center\" text-transform=\"uppercase\" font-size=\"16px\" letter-spacing=\"1px\" padding-top=\"30px\">\n          Austin, TX\n          <br />\n          <span style=\"color: #979797; font-weight: normal\">-</span>\n        </mj-text>\n        <mj-text color=\"#17CBC4\" align=\"center\" font-size=\"13px\" padding-top=\"0\" font-weight=\"bold\" text-transform=\"uppercase\" letter-spacing=\"1px\" line-height=\"20px\">\n          Austin Convention Center\n          <br />\n          123 Main Street, 78701\n        </mj-text>\n        <mj-image src=\"https://res.cloudinary.com/dheck1ubc/image/upload/v1544156968/Email/Images/AnnouncementOffset/header-top.png\" width=\"600px\" alt=\"\" padding=\"0\" href=\"https://google.com\" />\n      </mj-column>\n    </mj-section>\n    <mj-section background-color=\"#1f2e78\">\n      <mj-column width=\"100%\">\n        <mj-image src=\"https://res.cloudinary.com/dheck1ubc/image/upload/v1544156968/Email/Images/AnnouncementOffset/header-bottom.png\" width=\"600px\" alt=\"\" padding=\"0\" href=\"https://google.com\" />\n      </mj-column>\n    </mj-section>\n    <mj-wrapper padding-top=\"0\" padding-bottom=\"0\" css-class=\"body-section\">\n      <mj-section background-color=\"#ffffff\" padding-left=\"15px\" padding-right=\"15px\">\n        <mj-column width=\"100%\">\n          <mj-text color=\"#212b35\" font-weight=\"bold\" font-size=\"20px\">\n            Croft's in Austin is opening December 20th\n          </mj-text>\n          <mj-text color=\"#637381\" font-size=\"16px\">\n            Hi Jane,\n          </mj-text>\n          <mj-text color=\"#637381\" font-size=\"16px\">\n            TEXT: {{payload}}\n          </mj-text>\n          <mj-text color=\"#637381\" font-size=\"16px\">\n            Tempora culpa porro labore. Repudiandae accusamus obcaecati voluptatibus accusantium perspiciatis:\n          </mj-text>\n          <mj-text color=\"#637381\" font-size=\"16px\">\n            <ul>\n              <li style=\"padding-bottom: 20px\"><strong>Lorem ipsum dolor:</strong> Sit amet consectetur adipisicing elit.</li>\n              <li style=\"padding-bottom: 20px\"><strong>Quia a assumenda nulla:</strong> Repudiandae accusamus obcaecati voluptatibus accusantium perspiciatis.</li>\n              <li><strong>Tempora culpa porro labore:</strong> In quisquam optio quibusdam fugiat perspiciatis nobis.</li>\n            </ul>\n          </mj-text>\n          <mj-text color=\"#637381\" font-size=\"16px\" padding-bottom=\"30px\">\n            Lorem ipsum dolor <a class=\"text-link\" href=\"https://google.com\">sit amet consectetur</a> adipisicing elit. Earum eaque sunt nulla in, id eveniet quae unde ad ipsam ut, harum autem porro reiciendis minus libero illo. Vero, fugiat reprehenderit.\n          </mj-text>\n          <mj-button background-color=\"#5e6ebf\" align=\"center\" color=\"#ffffff\" font-size=\"17px\" font-weight=\"bold\" href=\"https://google.com\" width=\"300px\">\n            RSVP Today\n          </mj-button>\n          <mj-button background-color=\"#5e6ebf\" align=\"center\" color=\"#ffffff\" font-size=\"17px\" font-weight=\"bold\" href=\"https://google.com\" width=\"300px\">\n            Book an Appointment\n          </mj-button>\n          <mj-text color=\"#637381\" font-size=\"16px\" padding-top=\"30px\">\n            Lorem ipsum dolor <a class=\"text-link\" href=\"https://google.com\">sit amet consectetur</a> adipisicing elit. Earum eaque sunt nulla in, id eveniet quae unde ad ipsam ut, harum autem porro reiciendis minus libero illo. Vero, fugiat reprehenderit.\n          </mj-text>\n          <mj-text color=\"#637381\" font-size=\"16px\" padding-bottom=\"0\">\n            Lorem ipsum dolor sit amet consectetur adipisicing elit.\n          </mj-text>\n        </mj-column>\n      </mj-section>\n      <mj-section background-color=\"#ffffff\" padding-left=\"15px\" padding-right=\"15px\" padding-top=\"0\">\n        <mj-column width=\"50%\">\n          <mj-image align=\"center\" src=\"https://res.cloudinary.com/dheck1ubc/image/upload/v1544153577/Email/Images/AnnouncementOffset/Image_1.png\" alt=\"\" />\n        </mj-column>\n        <mj-column width=\"50%\">\n          <mj-image align=\"center\" src=\"https://res.cloudinary.com/dheck1ubc/image/upload/v1544153578/Email/Images/AnnouncementOffset/Image_2.png\" alt=\"\" />\n        </mj-column>\n      </mj-section>\n      <mj-section background-color=\"#ffffff\" padding-left=\"15px\" padding-right=\"15px\" padding-top=\"0\">\n        <mj-column width=\"100%\">\n          <mj-divider border-color=\"#DFE3E8\" border-width=\"1px\" />\n        </mj-column>\n      </mj-section>\n      <mj-section background-color=\"#ffffff\" padding=\"0 15px 0 15px\">\n        <mj-column width=\"100%\">\n          <mj-text color=\"#212b35\" font-weight=\"bold\" font-size=\"20px\" padding-bottom=\"0\">\n            Come see us!\n          </mj-text>\n          <mj-text color=\"#637381\" font-size=\"16px\">\n            We're looking forward to meeting you.\n          </mj-text>\n        </mj-column>\n      </mj-section>\n      <mj-section background-color=\"#ffffff\" padding-left=\"15px\" padding-right=\"15px\">\n        <mj-column width=\"50%\">\n          <mj-text color=\"#212b35\" font-size=\"12px\" text-transform=\"uppercase\" font-weight=\"bold\" padding-bottom=\"0\">\n            address\n          </mj-text>\n          <mj-text color=\"#637381\" font-size=\"14px\" padding-top=\"0\">\n            Austin Convention Center\n            <br />\n            123 Main Street, 78701\n          </mj-text>\n        </mj-column>\n        <mj-column width=\"50%\">\n          <mj-text color=\"#212b35\" font-size=\"12px\" text-transform=\"uppercase\" font-weight=\"bold\" padding-bottom=\"0\">\n            Hours of Operation\n          </mj-text>\n          <mj-text color=\"#637381\" font-size=\"14px\" padding-top=\"0\">\n            Monday, December 20th: 8:00AM - 5:00PM\n            <br />\n            Tuesday, December 21st: 8:00AM - 5:00PM\n          </mj-text>\n        </mj-column>\n      </mj-section>\n      <mj-section background-color=\"#ffffff\" padding-left=\"15px\" padding-right=\"15px\">\n        <mj-column width=\"100%\">\n          <mj-image src=\"https://res.cloudinary.com/dheck1ubc/image/upload/v1544153579/Email/Images/AnnouncementOffset/map.jpg\" alt=\"\" />\n        </mj-column>\n      </mj-section>\n    </mj-wrapper>\n\n    <mj-wrapper full-width=\"full-width\">\n      <mj-section>\n        <mj-column width=\"100%\" padding=\"0\">\n          <mj-social font-size=\"15px\" icon-size=\"30px\" mode=\"horizontal\" padding=\"0\" align=\"center\">\n            <mj-social-element name=\"facebook\" href=\"https://mjml.io/\" background-color=\"#A1A0A0\">\n            </mj-social-element>\n            <mj-social-element name=\"google\" href=\"https://mjml.io/\" background-color=\"#A1A0A0\">\n            </mj-social-element>\n            <mj-social-element name=\"twitter\" href=\"https://mjml.io/\" background-color=\"#A1A0A0\">\n            </mj-social-element>\n            <mj-social-element name=\"linkedin\" href=\"https://mjml.io/\" background-color=\"#A1A0A0\">\n            </mj-social-element>\n          </mj-social>\n          <mj-text color=\"#445566\" font-size=\"11px\" font-weight=\"bold\" align=\"center\">\n            View this email in your browser\n          </mj-text>\n          <mj-text color=\"#445566\" font-size=\"11px\" align=\"center\" line-height=\"16px\">\n            You are receiving this email advertisement because you registered with Croft's Accountants. (123 Main Street, Austin, TX 78701) and agreed to receive emails from us regarding new features, events and special offers.\n          </mj-text>\n          <mj-text color=\"#445566\" font-size=\"11px\" align=\"center\" line-height=\"16px\">\n            &copy; Croft's Accountants Inc., All Rights Reserved.\n          </mj-text>\n        </mj-column>\n      </mj-section>\n      <mj-section padding-top=\"0\">\n        <mj-group>\n          <mj-column width=\"100%\" padding-right=\"0\">\n            <mj-text color=\"#445566\" font-size=\"11px\" align=\"center\" line-height=\"16px\" font-weight=\"bold\">\n              <a class=\"footer-link\" href=\"https://www.google.com\">Privacy</a>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<a class=\"footer-link\" href=\"https://www.google.com\">Unsubscribe</a>\n            </mj-text>\n          </mj-column>\n        </mj-group>\n\n      </mj-section>\n    </mj-wrapper>\n\n  </mj-body>\n</mjml>","output":"str","x":360,"y":180,"wires":[["cf075446fbf34636"]]},{"id":"b502a3e62738068a","type":"comment","z":"1dddca959d7756f0","name":"MJML parsing","info":"## Howto\n\n1. Create dynamic content\n2. Use the template node to mix your dynamic content and MJML syntax\n3. Let the MJML parse node convert the template to HTML\n4. Send yoour HTMl with the email node","x":150,"y":120,"wires":[]}]